@charset "utf-8";
/* CSS Document */

/* General  */
body {
	background-image: url(../images/bkg.png);
	background-repeat: repeat-x;
	background-color: #f3f4f6;
	margin: 0;
}

/*  Template */

header {
	width: 980px;
	height: 55px;
	margin: auto;
}

nav {
	width: 980px;
	height: 47px;
	margin: auto;
}

footer {
	padding-top: 20px;
	width: 980px;
	margin:auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	text-align: right;
	color: #565656;
}

#MainContent {
	background: #FFF;
	border-radius: 10px;
	width: 980px;
	margin:auto;
	padding-bottom: 20px;
}


#MainTable {
	display: table;
	background:url(../images/table_bkg.png) repeat-x;
	border-spacing: 0;
	border-radius: 10px;
	border-top: 1px solid #565657;
	width: 952px;
	margin: auto;
}

.money {
	border: 0;
	float: left;
}

/*  Table */

.tablehead {
	height: 47px;	
	padding: 0;
}


th {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #FFF;
	text-shadow: #131313 2px 2px 2px;
	border-left: 1px solid #232323;	
	border-right: 1px solid #565656;
}

th:first-of-type {
	border-right: 1px solid #565656;	
	border-left: 0;	
	width: 40%;
}

th:last-of-type {
	border-left: 1px solid #232323;
	border-right: 0;	
}

td {
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-left: 1px solid #a8a8a8;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2a2a2a;
	text-align: center;
}

td:first-of-type {
	border-right: 1px solid #FFF;
	border-left: 0;
	text-align: left;
	padding-left: 10px;
}

td:last-of-type {
	border-left: 1px solid #a8a8a8;
	border-right: 0;
}

td.max {
	background: #e1ff9e;
}

td.min {
	background: #ff9e9e;
}

.TableRow {
 	width: 952px;
	background: #d9d9da;
	border-top: 1px solid #FFF;
	height: 36px;
	margin: auto;
}

/* Menu */

ul.menu {
	float: right;
	list-style-type: none;
	height: 59px;
}

ul a {
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;	
	padding: 2px 32px 8px 8px;
}

ul a:hover {
	background:url(../images/menu_hover.png) no-repeat;
}

ul a.active {
	background:url(../images/menu_active.png) no-repeat;
  cursor: default;
}

li.menu {
	float: left;	
}

/* Fonts */

footer a {
	color: #565656;
	text-decoration: none;
}
footer a:hover {
	color: #565656;
	text-decoration: underline;
}
