<!doctype html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>spread.com.pl - Porównaj spread walutowy</title>
    <link rel="stylesheet" type="text/css" href="style/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <script src="script/cw.js" type="text/javascript"></script>
    <script type="text/javascript" id="AdTaily_Widget" src="http://static.adtaily.pl/widget.js#CnNEnXQIU5ciWeu"></script>
    <noscript><a href="http://www.adtaily.pl">Prosta i tania reklama w Internecie sprzedawana za pomocą AdTaily</a>(PLALLADTAILY0002)</noscript>
  </head>
  <body>
  <header>
    <a href="http://www.spread.com.pl"><img src="images/money_1.png" class="money" /></a>
  </header>
  <nav>
    <a href="http://www.spread.com.pl"><img src="images/money_2.png" class="money" /></a>
    <ul class="menu">
      <li class="menu"><a class="active" href="#">EUR</a></li>
    </ul>
  </nav>
  <section id="MainContent">
    <%= yield %>
  </section>
  <footer>
    Copyright &copy; 2011, <strong>Łukasz Badura</strong>. Contact: <a href="mailto:info@spread.com.pl">info@spread.com.pl</a>. Layout design: Marek Badura.
  </footer>
</body>  
</html>
