<table id="MainTable">
  <thead>
    <tr class="tablehead">
      <th>Nazwa instytucji</th>
      <th>Kupno</th>
      <th>Sprzedaż</th>
      <th>Kurs średni</th>
      <th>Spread</th>
    </tr>
  </thead>
  <tbody>
    <tr class="TableRow">
      <td>BZWBK S.A</td>
      <td class="max">0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
    <tr class="TableRow">
      <td>BRE BANK S.A</td>
      <td class="min">0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
    <tr class="TableRow">
      <td>BZWBK S.A</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
    <tr class="TableRow">
      <td>BRE BANK S.A</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
    <tr class="TableRow">
      <td>BZWBK S.A</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
    <tr class="TableRow">
      <td>BRE BANK S.A</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
    <tr class="TableRow">
      <td>BZWBK S.A</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
    <tr class="TableRow">
      <td>BRE BANK S.A</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
      <td>0,00zł</td>
    </tr>
  </tbody>
</table>