<h1>Aktualne kursy</h1>
<h2>UWAGA</h2>
<p>Kursy walut umieszczone na tej stronie publikowane są w celach informacyjnych. Staramy się aby informacje zawarte na stronie były zawsze aktualne. Nie ponosimy jednak ŻADNEJ odpowiedzialności za ew. różnice w stosunku do faktycznych kursów w danej instytucji.</p>
